</main>

<footer>
  <!-- Add a dynamic year to the footer using JS. -->
  <% var X = new Date().getFullYear() %>
  <p id="footer">Copyright © <%=X%> | Made with love by Junaid</p>
</footer>
</body>

</html>