</main>

<footer>
  <!-- Add a dynamic year to the footer using JS. -->
  <% var X = new Date().getFullYear() %>
  <p id="footer">Copyright © <%=X%> | Made with love by <a href="https://junaid-mohammad.github.io/HTML-Portfolio-Website/index.html">Junaid</a></p>
</footer>
</body>

</html>